<nav class="site-nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li class="dropdown">
      <a href="#">Books ▾</a>
      <ul class="dropdown-content">
        <li><a href="{{ '/books/terra-in-the-mists' | relative_url }}">Terra in the Mists</a></li>
        <li><a href="{{ '/books/before-the-mists' | relative_url }}">Before the Mists</a></li>
        <li><a href="{{ '/books/crimson-reliquary' | relative_url }}">Crimson Reliquary</a></li>
        <li><a href="{{ '/books/children-of-the-divide' | relative_url }}">Children of the Divide</a></li>
        <li><a href="{{ '/books/echoes-of-lyra' | relative_url }}">Echoes of Lyra</a></li>
        <li><a href="{{ '/books/harmonic-rebirth' | relative_url }}">Harmonic Rebirth</a></li>
        <li><a href="{{ '/books/foundations-of-flame' | relative_url }}">Foundations of Flame</a></li>
      </ul>
    </li>
    <li><a href="{{ '/author' | relative_url }}">About the Author</a></li>
  </ul>
</nav>